<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">add product</h2>

        <form
          action="/admin/add-product"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="fname">name</label>
          <input type="text" id="fname" name="name" class="form-control" />
          <label for="lname">category</label>
          <input type="text" id="lname" name="category" class="form-control" />
          <label for="fname">price</label>
          <input type="text" id="fname" name="price" class="form-control" />
          <label for="fname">description</label>
          <input
            type="text"
            id="fname"
            name="description"
            class="form-control"
          />
          <label for="fname">total quantity</label>
          <input type="text" id="fname" name="totalQuantity" class="form-control" />
          <label for="">image</label>
          <input type="file" name="image" class="form-control" />

          <input type="text" id="fname" name="availability" class="form-control" value="" hidden/>

          

          <button type="submit" class="btn btn-success mt-4">submit</button>
        </form>
      </div>
    </div>
  </div>
</section>